<div class="container m-5">

  <h2 class="mb-4">Restaurant list</h2>

  <div class="card-description">
    <div class="col-xs-12 col-sm-6 p-3" style="background-color: rgb(255,255,255);">
      <% @restaurants.each do |restaurant| %>
        <p><strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong></p>
        <p><%= restaurant.address %></p>
      <% end %>
    </div>
  </div>

  <br>

   <div class="border-top p-2">
    <i class="fas fa-plus"></i>
    <span><%= link_to "Add a new restaurant", new_restaurant_path  %></span>
  </div>

</div>
